/* #page-container {
    position: relative;
    min-height: 100vh;
}
  
.content-wrap {
    padding-bottom: 3.5rem;   
}
*/

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 1.5rem;           
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    left: 0;
}

footer p {
    margin: 0;
}