body, html {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, rgb(171, 221, 124), rgb(42, 170, 117));
}

.story {
    text-align: center;
    background-image: linear-gradient(to right, rgb(171, 221, 124), rgb(42, 170, 117));
}

.story h1 {
    text-align: center;
}

.gen_w {
    color: black; /* Link color */
    text-decoration: none;
}

.news {
    text-align: center;
}

.news ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* .news li {
    font-size: 30px;
    margin-bottom: 15px; 
}  */

.about-link {
    color: white; /* Link color */
    text-decoration: none; /* Remove underline */
    font-size: 1.2em;
}

.banner {
    background-color: #289abd; /* Change this to your desired background color */
    color: black; /* Text color */
    text-align: center; /* Center the text */
    padding: 20px 0; /* Adjust padding for banner size */
    position: relative;
    width: 100%;
}

.banner h1 {
    margin: 0;
    font-size: 2em; /* Adjust font size */
}
