<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>
<body>
    <header>
        <div class="flex w-full bg-gray-600 rounded-b-md">
            <h1>The UP Da<a href="{{ url_for('gen_news')}}" class="gen_w">w</a>g</h1>
            <p>Simple & Unbiased since 2005</p>
            <nav>
                <ul>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="https://www.scientologynews.org/quick-facts/community-outreach-actions.html">Donate</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>