<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gen.css') }}">
    <title>Document Control</title>
</head>
<body>
    <form action="{{ url_for('toggle_archive', uuid=uuid) }}">
        <label>Archive</label> 
        <input type="submit" name="submit_button" value="archive"> 
    </form>
    <br><br>
    <form action="{{ url_for('trash_story', uuid=uuid) }}">
        <label>Trash</label> 
        <input type="submit" name="submit_button" value="trash"> 
    </form>
    <p>{{ msg }}</p>
    <h1>{{ status }}</h1>
</body>
</html>