<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gen.css') }}">
    <title>Document Control</title>
</head>
<body>
    <label>Archive</label> 
    <input type="submit" name="submit_button" value="archive"> 
    <br><br>
    <label>Trash</label> 
    <input type="submit" name="submit_button" value="archive"> 
    <p>{{ msg }}</p>
    <h1>{{ status }}</h1>
</body>
</html>