<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The UP Dawg</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-gray-100 flex flex-col min-h-screen">
    <nav class="bg-gray-800 text-white p-4 flex justify-between items-center">
        <div class="flex-none">
          <a href="{{url_for('about')}}" class="text-white hover:text-blue-300">About</a>
        </div>
        <div class="flex-none">
            <a href="{{url_for('reporters')}}" class="text-white hover:text-blue-300">All Reporters</a>
        </div>
        <div class="flex-grow text-center">
            <h1 class="text-3xl text-white">What's <strong>Upd<a href="{{ url_for('gen_news') }}">o</a>g?</strong></h1>
            <p class="text-white">Unbiased since tomorrow</p>
        </div>
    </nav>
    <div class="relative container mx-auto px-4 py-8 flex-grow text-black">
        <div class="grid grid-cols-1 gap-6">
            {% for story in stories %}
            <a href="{{url_for('story', uuid=story.uuid, title=story.title)}}">
                <div class="bg-white rounded-lg hover:shadow-lg hover:shadow-blue-500/70 overflow-hidden">
                    <div class="p-4">
                        <h3 class="text-xl font-semibold mb-1">{{ story.title }}</h3>
                        <h3 class="text-sm font-semibold mb-2">By {{ story.reportername }}</h3>
                        <p class="text-gray-700 line-clamp-3">{{ story.content|safe }}...</p>
                        <p class="text-gray-700"><strong>Likes:</strong> {{ story.likes }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <footer class="bg-gray-800 p-4 text-center text-white">
        <p>&copy; 2024 The UP Dawg. All rights reserved.</p>
    </footer>
</body>
</html>