<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <title>Generate AI News</title>
</head>

<body class="grid grid-cols-3 gap-5">
    <div class="relative text-center w-full h-full p-5">
        <div class="absolute flex flex-row gap-5 items-center justify-between bottom-5">
            <a href="{{ url_for('reporters') }}">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
                    type="submit" id="news-button">
                    Back to Reporters
                </button>
            </a>
        </div>
    </div>
    <form class="mt-10 max-w-lg w-full mx-auto p-6 bg-white rounded-lg shadow-md" id="news-form" action="{{ url_for('create_reporter') }}" method="post">
        <h2 class="text-2xl font-bold mb-6 text-gray-900">Create New Reporter</h2>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="message">
                Reporter Name
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                id="name" name="name" type="text" placeholder="Julia Garner">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="message">
                Reporter Bio (Just for Looks)
            </label>
            <textarea
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                id="bio" name="bio" rows="5"></textarea>
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                Personality (What affects their writing)
            </label>
            <textarea
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                id="personality" name="personality" rows="5"></textarea>
        </div>
        <div class="flex items-center justify-between">
            <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
                type="submit" id="news-button">
                Create
            </button>
        </div>
    </form>
    <h1>
        {{ msg }}
    </h1>
    <script>
    </script>
</body>
</html>
