<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-gray-100 flex flex-col min-h-screen">
    <header class="bg-gray-800 p-4 text-center">
        <h1 class="text-3xl font-bold"><a href="{{ url_for('index') }}">{{ title }}</a></h1>
        <p class="text-white">By <a href="{{url_for('reporter', id=reporter_id)}}">{{ reporter_id | get_name }}</a></p>
    </header>
    <main class="flex flex-grow p-4">
        <article class="max-w-3xl mx-auto text-center">
            <section>
                {{ content|safe }}
            </section>
        </article>
    </main>
    <footer class="bg-gray-800 p-4">
        <p class="text-center">&copy; 2024 The UP Dawg. All rights reserved.</p>
    </footer>
</body>
</html>