{% extends 'templ.html' %}

{% block title %}Hoodlem - Superintendent Updog News{% endblock %}

{% block content %}
    <main class="flex-grow container mx-auto px-4 py-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
			<div class="relative text-center w-full h-full p-5 overflow-auto" id="chat-box">
				<div class="absolute flex flex-row gap-5 items-center justify-between bottom-5">
					<form onsubmit="()">
						<button
							class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
							type="submit" id="send-button">
							Send
						</button>
					</form>
				</div>
			</div>
		</div>
    </main>
    <script>
        const dropdownMenu = document.getElementById('dropdown-menu');

        dropdownItem.addEventListener('click', () => {
            dropdownMenu.classList.toggle('hidden');
        });

		function formSubmit(event, formdata) {
            event.preventDefault(); // prevent default form submit
            const promptSubmitButton = document.getElementById("news-button");
            promptSubmitButton.disabled = true;

            readStream(formdata);
            promptSubmitButton.disabled = false;
        };

        function readStream(formdata) {
            console.log("called readstream")
            const previewBox = document.getElementById('preview-box');

            removeID('story')

            // Add an empty message div to show the streaming response
            const newMessage = document.createElement('div');
            newMessage.setAttribute("id", "story");
            newMessage.className = "text-white";
            previewBox.appendChild(newMessage);

            const data = {};
            formdata.forEach((value, key) => {
                data[key] = value;
            });

            formGlobal = data;

            const jsonString = encodeURIComponent(JSON.stringify(data));
            const eventSource = new EventSource(`/stream?formdata=${jsonString}`);
            console.log("sent");

            eventSource.onmessage = function (event) {
                // Append the streamed data to the message div
                newMessage.innerHTML = `${event.data}`;
            };

            eventSource.addEventListener('end', function(event) {
                // Handle the 'end' event
                console.log('Stream finished, closing connection.');
                eventSource.close();
            });
        }

        function postStory() {
            event.preventDefault();
            let story = document.getElementById('story').innerHTML;
            formGlobal['story'] = story;

            console.log(JSON.stringify({ "story": formGlobal }));

            fetch(`{{url_for('post')}}`, {
                method: "POST",
                body: JSON.stringify({ "story": formGlobal }),
                headers: {
                    'Content-Type': 'application/json'
                },
            }).then(response => response.json()).then(data => {
                window.location.replace("{{url_for('index')}}");
            }).catch(error => console.error('Error', error));
        }
    </script>
{% endblock %}
