{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block list %}
<li>
    <a href="{{url_for('main.about')}}" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
</li>
{% endblock %}

{% block content %}
<body class="bg-gray-900 text-gray-100 flex flex-col min-h-screen">
    <header class="relative bg-gray-900 p-4 text-center">
        <h1 class="text-3xl font-bold"><a href="{{ url_for('main.index') }}">{{ title }}</a></h1>
        <p class="text-white">By <a href="{{url_for('main.reporter', uuid=reporter_uuid, name=reporter_name)}}">{{ reporter_name }}</a></p>
    
        <div class="absolute right-0 top-0 p-5 flex flex-row gap-5 items-end space-y-2">
            <p class="text-white text-md font-bold bg-blue-500 rounded-lg px-4 py-2" id="likes-num">{{ uuid | story_likes }}</p>
            <button class="text-white text-md font-bold bg-blue-500 rounded-lg px-4 py-2" id="like-btn">
                {{ uuid | story_is_liked }}
            </button>
        </div>
    </header>    
    <main class="flex flex-grow p-4">
        <article class="max-w-3xl mx-auto text-center">
            <section>
                {{ content|safe }}
            </section>
        </article>
    </main>
    <section>
        <form action="" id="comment-box" method="POST" name="">
            {{ form.hidden_tag() }}
            <div class="flex justify-center">
                {{form.comment}}
                <button type="submit" class="bg-sky-500 hover:bg-sky-700 text-white py-2 px-5 rounded-r-full font-bold text-md transition duration-300">Send</button>
            </div>
        </form>
    {% macro render_comment(comment, comment_tree, forms) %}
        <div class="comment">
            <p>{{ comment.content }}</p>
            <small>By {{ comment.user_id }} at {{ comment.created }}</small>
            
            <form method="POST" action="{{url_for('main.reply', comment_id=comment.id, story_uuid=uuid)}}" class="hidden">
                {{ forms[comment.id].hidden_tag() }}
                {{ forms[comment.id].comment.label}} {{ forms[comment.id].comment}}
                {{ forms[comment.id].submit }}
            </form>
            
            <div class="replies ml-10">
                {% for child in comment_tree[comment.id] %}
                    {{ render_comment(child, comment_tree, forms) }}
                {% endfor %}
            </div>
        </div>
    {% endmacro %}
    
    {% for comment in top_level_comments %}
        {{ render_comment(comment, comment_tree, forms) }}
    {% endfor %}
    </section>
</body>
<script>
    let likes_num = document.getElementById('likes-num')
    var comment_box = document.getElementById('comment-box')

    document.getElementById('like-btn').addEventListener("click", function(event) {
        event.preventDefault();
        fetch(`{{url_for('main.like', uuid=uuid)}}`, {
                method: "POST",
            }).then(response => response.json()).then(data => {
                this.innerHTML = data.state;
                likes_num.innerHTML = data.likes
            }).catch(error => console.error('Error', error));
                this.innerHTML = "Like"
        });

    comment_box.addEventListener("submit", function(event) {
        event.preventDefault()
        var formdata = new FormData(this)

        fetch(`{{url_for('main.comment', uuid=uuid)}}`, {
                method: 'POST',
                body: formdata,
                headers: {
                'Accept': 'application/json',
                }   
            }).then(response => response.json()).then(data => {
                this.input.value = ''
                response_div.innerHTML = data.response
            }).catch(error => {
                console.log("Error occured while submitting command:", error)
        })
    })
</script>
{% endblock %}
